/* colores */

$color_1: #dcdca6;
$color_2: #2c532c;
$color_3: #ffffff;
$color_4: #000000;

/* fuentes */

$font-family_1: 'Cormorant Unicase', serif;
$font-family_2: planet kosmos;
$font-family_3: inherit;

/* colores de fondo */

$background-color_1: #2c532c;
$background-color_2: #dcdca6;
$background-color_3: transparent;
$background-color_4: #2c532c6e;
$background-color_5: #c9c3c38a;

@font-face {
    font-family: planet kosmos;
    src: url(planet_kosmos\ \(1\).zip);
}

.fuente-principal {
    font-family: $font-family_1;
}

.bg-green {
    background-color: $background-color_1 !important;
}

/* navBar */

.dropdown-menu {
    background-color: $background-color_2;
}

.dropdown-item {
    &:hover {
        background-color: $background-color_1;
        color: $color_1;
    }
}

/* pagina principal */

.img-carrousel {
    height: 90vh;
}

.comentario {
    font-size: 2em;
    color: $color_1;
    text-align: center;
    margin-left: 20px;
}

.comentario-titulo {
    font-size: 2.5em;
    font-family: $font-family_2;
}

.comentario-boton {
    padding: 0.8em 1.8em;
    border: 2px solid #dcdca6;
    position: relative;
    overflow: hidden;
    background-color: $background-color_3;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: $font-family_3;
    color: $color_1;
    border-radius: 10px;
    margin-top: 15px;

    &::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(35deg);
        background: #dcdca6;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }

    &:hover {
        &::before {
            width: 105%;
        }

        color: $color_2;
    }
}

.texto-divisor {
    color: $color_2;
}

.cards-inicio {
    width: 100%;
    height: 85%;
    border: #dcdca6;
    border-radius: 8px;
    margin: 20px;
}

.card-body {
    background-color: $background-color_2 !important;
}

.card-text {
    color: $color_2;
}

.card-title {
    color: $color_2;
}

.btn-primary {
    background-color: $background-color_1;
    color: $color_1;
    border: #2c532c;
    transition: 2s;

    &:hover {
        background-color: $background-color_4;
        color: $color_3;
    }
}

/* pagina contacto */ 

.btn-contacto {
    margin: 8px;
}

.container-contacto {
    background-color: $background-color_5;
    padding: 20px;
}

.container-fluid-contacto {
    margin-top: 30px;
    height: 300px;
}

.titulo-contacto {
    color: $color_2;
}

/* sobre nosotros */

.sobrenosotros-h1 {
    margin: 16px;
    font-size: 80px;
    background-color: $background-color_1;
    background-size: auto;
    color: $color_1;
    padding: 20px;
}

.titulos-sn {
    color: $color_2;
}

.imagenes-sn {
    height: 70vh;
    width: 100%;
}

.color-fondo {
    background-color: $background-color_2;
}

/* footer */

.footer-margin {
    margin-top: 45px;
}

.links-footer {
    li {
        a {
            color: $color_3;
        }
    }
}

/* pagina camisas y pantalones */

.titulo-productos {
    color: $color_1;
    background-color: $background-color_1;
    margin: 30px;
    font-size: 75px;
}

.aside-productos {
    padding: 15px 60px 15px 60px;
    height: 85vh;
}

.box-productos {
    height: 100%;
    width: 100%;
}

.form-check-input {
    accent-color: #2c532c;
}

.links-productos {
    text-decoration: none;
    color: $color_2;

    &:hover {
        color: $color_4;
    }
}

.cards-margin {
    margin-bottom: 20px !important;
}

.card-title-compra {
    font-size: 1.5em;
}

.btn-compras {
    width: 80%;
}

.card-img-top {
    transition: transform .2s;
}

.zoom {
    &:hover {
        transform: scale(1.10);
    }
}