/* colores */

$color_1: #dcdca6;
$color_2: #2c532c;
$color_3: #ffffff;
$color_4: #000000;

/* fuentes */

$font-family_1: 'Cormorant Unicase', serif;
$font-family_2: planet kosmos;
$font-family_3: inherit;

/* colores de fondo */

$background-color_1: #2c532c;
$background-color_2: #dcdca6;
$background-color_3: transparent;
$background-color_4: #2c532c6e;
$background-color_5: #c9c3c38a;

@font-face {
    font-family: planet kosmos;
    src: url(planet_kosmos\ \(1\).zip);
}

.fuente-zully {
    font-family: $font-family_2;
}

.fuente-principal {
    font-family: $font-family_1;
}

.bg-green {
    background-color: $background-color_1 !important;
}

.btn-carousel {
    color: $color_4;
    background-color: $color_4;
    padding: 20px;
    border-radius: 5px;
}

/* navBar */

.dropdown-menu {
    background-color: $background-color_2;
}

.dropdown-item {
    &:hover {
        background-color: $background-color_1;
        color: $color_1;
    }
}

.navbar-brand {
    font-family: $font-family_1;
}

/* pagina principal */

.img-carrousel {
    height: 90vh;
}

.comentario {
    font-size: 2em;
    color: $color_1;
    text-align: center;
    font-family: $font-family_1;
}

.comentario-titulo {
    font-size: 2.5em;
    font-family: $font-family_2;
    margin-top: 20px;
}

.comentario-boton {
    padding: 0.8em 1.8em;
    border: 2px solid #dcdca6;
    position: relative;
    overflow: hidden;
    background-color: $background-color_3;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: $font-family_3;
    color: $color_1;
    border-radius: 10px;
    margin-top: 15px;

    &::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(35deg);
        background: #dcdca6;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }

    &:hover {
        &::before {
            width: 105%;
        }

        color: $color_2;
    }
}

.texto-divisor {
    color: $color_2;
}

.cards-inicio {
    height: 85%;
    margin: 25px;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 7px 7px 14px #999999,
        -7px -7px 14px #ffffff;
}

.card-text-index {
    color: $color_2;
}

.card-title-index {
    color: $color_2;
}

.btn-index {
    background-color: $background-color_1;
    color: $color_1;
    border: $color_2;
    transition: 1s;
    padding: 10px 25px;
    border-radius: 0px;
    border: $color_2 solid 2px;
    transition: .5s;

    &:hover {
        background-color: $color_3;
        color: $color_2;
    }
}

.carousel-titulo {
    font-size: 70px;
    margin: 50px;
    text-transform: uppercase;
}

.carousel-texto{
    font-size: 24px;
    margin: 40px;
    font-family: $font-family_3;
}

/* pagina contacto */

.btn-contacto {
    margin: 10px;
    background-color: $color_2;
    color: $color_3;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: $color_2 solid 2px;

    &:hover {
        background-color: $background-color_5;
        color: $color_2;
        border: $color_2 solid 2px;
    }
}

.container-contacto {
    background-color: $background-color_5;
    padding: 20px;
}

.container-fluid-contacto {
    margin-top: 30px;
    height: 300px;
}

.titulo-contacto {
    color: $color_2;
}

/* sobre nosotros */

.sobrenosotros-h1 {
    margin: 16px;
    font-size: 80px;
    background-color: $background-color_1;
    background-size: auto;
    color: $color_1;
    padding: 20px;
}

.titulos-sn {
    color: $color_2;
    font-size: 40px;
    margin: 20px;
}

.texto-sn {
    font-size: 18px;
    margin: 10px;
}

.imagenes-sn {
    height: 70vh;
    width: 100%;
}

/* footer */

.footer-margin {
    margin-top: 45px;
}

.links-footer {
    li {
        a {
            color: $color_3;
        }
    }
}

.links-footer {
    li {
        margin: 10px;
    }
}

.links-socials {
    margin: 10px;

    &:hover {
        color: $color_4;
    }
}

.form-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 450px;
    border: $color_2 solid 2px;
    border-radius: 0px;
    background: linear-gradient(315deg, #284b28, #2f592f);
    box-shadow: -17px -17px 29px #244424,
        17px 17px 29px #346234;
}

.form-footer-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: $font-family_1;
    text-transform: uppercase;
}

.form-footer-text {
    letter-spacing: 1px;
}

.placeholder-footer {
    outline: none;
    padding: 5px;
    margin: 5px;
    border: none;
}

.btn-footer {
    padding: 5px 15px;
    border: none;
    background-color: $color_1;
    color: $color_2;
}

/* pagina camisas y pantalones */

.titulo-productos {
    color: $color_1;
    background-color: $background-color_1;
    margin-top: 30px;
    font-size: 75px;
}

.aside-productos {
    padding: 15px 60px 15px 60px;
    height: 100%;
}

.box-productos {
    height: 100%;
    width: 100%;
}

.form-check-input {
    accent-color: $color_2;
}

.links-productos {
    text-decoration: none;
    color: $color_2;

    &:hover {
        color: $color_4;
    }
}

.card-general {
    margin: 15px;
    border: none;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 7px 7px 14px #999999,
        -7px -7px 14px #ffffff;
}

.card-title-compra {
    font-size: 1.5em;
}

.btn-compras {
    width: 100%;
    border: $color_4 solid 2px;
    border-radius: 0px;
    padding: 15px;
    background-color: $color_3;
    color: $color_4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font-family_1;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 $color_4;
    }

    ;

    &:active {
        transform: translateY(2px) translateX(-2px);
        box-shadow: 0 0 0 $color_4;
    }
}


.card-img-top {
    transition: transform .2s;
}

.zoom {
    &:hover {
        transform: scale(1.10);
    }
}

/* pagina productos */

.ancho {
    width: 95%;
}

.h1-producto {
    font-family: $font-family_1;
    font-size: 4em;
}

.btn-productos {
    border: $color_4 solid 2px;
    border-radius: 0;
    margin: 10px;
    transition: 0.5s;
}

.btn-productos {
    &:focus {
        background-color: $color_4;
        color: #ffffff;
    }
}

.alinear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-carrito {
    padding: 12px 15px 0px 15px;
    text-align: center;
    width: 100%;
    border-radius: 40px;
    border: $color_3 solid 2px;
}

.btn-carrito {
    &:hover {
        border: $color_4 solid 2px;
    }
}

.card-lista {
    background-color: $color_3;
}

.share-link {
    text-decoration: none;
    color: $color_4;
}

/* guia de tallas */

.tallas-list {
    margin: 5px;
}

.same-width li {
    text-align: left;
    width: 29vw;
    letter-spacing: 1px;
}

.tallas-titulos {
    text-align: center;
    margin: 20px;
    font-size: 4em;
}