/* colores */
/* fuentes */
/* colores de fondo */
@font-face {
  font-family: planet kosmos;
  src: url(planet_kosmos\ \(1\).zip);
}
.fuente-zully {
  font-family: planet kosmos;
}

.fuente-principal {
  font-family: "Cormorant Unicase", serif;
}

.bg-green {
  background-color: #2c532c !important;
}

.btn-carousel {
  color: #000000;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
}

/* navBar */
.dropdown-menu {
  background-color: #dcdca6;
}

.dropdown-item:hover {
  background-color: #2c532c;
  color: #dcdca6;
}

.navbar-brand {
  font-family: "Cormorant Unicase", serif;
}

/* pagina principal */
.img-carrousel {
  height: 90vh;
}

.comentario {
  font-size: 2em;
  color: #dcdca6;
  text-align: center;
  font-family: "Cormorant Unicase", serif;
}

.comentario-titulo {
  font-size: 2.5em;
  font-family: planet kosmos;
  margin-top: 20px;
}

.comentario-boton {
  padding: 0.8em 1.8em;
  border: 2px solid #dcdca6;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #dcdca6;
  border-radius: 10px;
  margin-top: 15px;
}
.comentario-boton::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(35deg);
  background: #dcdca6;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.comentario-boton:hover {
  color: #2c532c;
}
.comentario-boton:hover::before {
  width: 105%;
}

.texto-divisor {
  color: #2c532c;
}

.cards-inicio {
  height: 85%;
  margin: 25px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #999999, -7px -7px 14px #ffffff;
}

.card-text-index {
  color: #2c532c;
}

.card-title-index {
  color: #2c532c;
}

.btn-index {
  background-color: #2c532c;
  color: #dcdca6;
  border: #2c532c;
  transition: 1s;
  padding: 10px 25px;
  border-radius: 0px;
  border: #2c532c solid 2px;
  transition: 0.5s;
}
.btn-index:hover {
  background-color: #ffffff;
  color: #2c532c;
}

.carousel-titulo {
  font-size: 70px;
  margin: 50px;
  text-transform: uppercase;
}

.carousel-texto {
  font-size: 24px;
  margin: 40px;
  font-family: inherit;
}

/* pagina contacto */
.btn-contacto {
  margin: 10px;
  background-color: #2c532c;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: #2c532c solid 2px;
}
.btn-contacto:hover {
  background-color: rgba(201, 195, 195, 0.5411764706);
  color: #2c532c;
  border: #2c532c solid 2px;
}

.container-contacto {
  background-color: rgba(201, 195, 195, 0.5411764706);
  padding: 20px;
}

.container-fluid-contacto {
  margin-top: 30px;
  height: 300px;
}

.titulo-contacto {
  color: #2c532c;
}

/* sobre nosotros */
.sobrenosotros-h1 {
  margin: 16px;
  font-size: 80px;
  background-color: #2c532c;
  background-size: auto;
  color: #dcdca6;
  padding: 20px;
}

.titulos-sn {
  color: #2c532c;
  font-size: 40px;
  margin: 20px;
}

.texto-sn {
  font-size: 18px;
  margin: 10px;
}

.imagenes-sn {
  height: 70vh;
  width: 100%;
}

/* footer */
.footer-margin {
  margin-top: 45px;
}

.links-footer li a {
  color: #ffffff;
}

.links-footer li {
  margin: 10px;
}

.links-socials {
  margin: 10px;
}
.links-socials:hover {
  color: #000000;
}

.form-footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 450px;
  border: #2c532c solid 2px;
  border-radius: 0px;
  background: linear-gradient(315deg, #284b28, #2f592f);
  box-shadow: -17px -17px 29px #244424, 17px 17px 29px #346234;
}

.form-footer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: "Cormorant Unicase", serif;
  text-transform: uppercase;
}

.form-footer-text {
  letter-spacing: 1px;
}

.placeholder-footer {
  outline: none;
  padding: 5px;
  margin: 5px;
  border: none;
}

.btn-footer {
  padding: 5px 15px;
  border: none;
  background-color: #dcdca6;
  color: #2c532c;
}

/* pagina camisas y pantalones */
.titulo-productos {
  color: #dcdca6;
  background-color: #2c532c;
  margin-top: 30px;
  font-size: 75px;
}

.aside-productos {
  padding: 15px 60px 15px 60px;
  height: 100%;
}

.box-productos {
  height: 100%;
  width: 100%;
}

.form-check-input {
  accent-color: #2c532c;
}

.links-productos {
  text-decoration: none;
  color: #2c532c;
}
.links-productos:hover {
  color: #000000;
}

.card-general {
  margin: 15px;
  border: none;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 7px 7px 14px #999999, -7px -7px 14px #ffffff;
}

.card-title-compra {
  font-size: 1.5em;
}

.btn-compras {
  width: 100%;
  border: #000000 solid 2px;
  border-radius: 0px;
  padding: 15px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Cormorant Unicase", serif;
  transition: all 0.3s ease-in-out;
}
.btn-compras:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #000000;
}
.btn-compras:active {
  transform: translateY(2px) translateX(-2px);
  box-shadow: 0 0 0 #000000;
}

.card-img-top {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

/* pagina productos */
.ancho {
  width: 95%;
}

.h1-producto {
  font-family: "Cormorant Unicase", serif;
  font-size: 4em;
}

.btn-productos {
  border: #000000 solid 2px;
  border-radius: 0;
  margin: 10px;
  transition: 0.5s;
}

.btn-productos:focus {
  background-color: #000000;
  color: #ffffff;
}

.alinear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-carrito {
  padding: 12px 15px 0px 15px;
  text-align: center;
  width: 100%;
  border-radius: 40px;
  border: #ffffff solid 2px;
}

.btn-carrito:hover {
  border: #000000 solid 2px;
}

.card-lista {
  background-color: #ffffff;
}

.share-link {
  text-decoration: none;
  color: #000000;
}

/* guia de tallas */
.tallas-list {
  margin: 5px;
}

.same-width li {
  text-align: left;
  width: 29vw;
  letter-spacing: 1px;
}

.tallas-titulos {
  text-align: center;
  margin: 20px;
  font-size: 4em;
}

/*# sourceMappingURL=styles.css.map */
